.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  color: rgba($white, 0.7);
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  & > .container {
    display: flex;
    align-items: center;
  }
  &__logo {
    fill: $white;
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    color: $white;
    &:hover {
      color: $white;
    }
    svg {
      margin-right: 15px;
    }
  }

  &__logo-text {
    line-height: 1;
    font-family: "VT323", monospace;
    font-size: 24px;
  }
  &__menu-wrapper {
    padding-left: 30px;
    margin-left: auto;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(sm) {
      white-space: nowrap;
      overflow-x: auto;
      .menu__item {
        padding: 25px 10px;
      }
    }
  }

  &__toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s linear 0.3s, transform 0.3s linear 0.3s;
  }

  &__menu {
  }
  &__right,
  &__left {
    display: flex;
  }

  &__left {
    align-items: center;
    justify-content: center;
  }
}

.logo-blink {
  animation: logo-blink 1.3s infinite linear;
}

@keyframes logo-blink {
  from,
  to {
    fill: none;
  }
  50% {
    fill: $white;
  }
}

.mobile-menu-is-shown {
  .header__toggle {
    opacity: 0;
    transform: translateX(-50px);
  }
}
