.hero {
  position: relative;
  padding-top: 74px;
  padding-bottom: 120px;
  color: $white;
  $parent: &;

  &--small {
    padding-bottom: 30px;
    #{$parent}__heading {
      margin-top: 40px;
      @include media-breakpoint-down(sm) {
        margin-top: 30px;
      }
    }
  }

  &--has-button {
    padding-bottom: 20px;
  }

  &__particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $primary;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &__heading {
    font-size: 80px;
    margin-top: 120px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 10px;
      height: 10px;
      background-color: $white;
      border-radius: 50%;
    }
    &::after {
      position: absolute;
      content: "";
      left: 20px;
      bottom: 0;
      width: 100px;
      height: 10px;
      background-color: $purple;
      border-radius: 100px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
      margin-top: 30px;
    }
  }

  &__subheading {
    font-size: 16px;
    color: rgba($white, 0.7);
  }

  &__typing-wrap {
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    margin-top: 120px;
    color: $white;
    font-size: 2rem;
    letter-spacing: 0.15em;
    position: relative;
  }

  &__typing {
    margin-top: 1rem;
    display: inline-block;
    color: $white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid $white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: typing 3.5s steps(40, end), blink 0.75s step-end infinite;
  }

  &__dollar {
    display: block;
    color: $yellow;
    margin-right: 1rem;
  }

  &__circle {
    position: absolute;
    z-index: 0;

    &:nth-of-type(1) {
      top: 20px;
      right: 56px;
      background-color: #ffbf2e;
      transform-origin: -200px 300px;
      animation: rotation 20s infinite linear;
    }
    &:nth-of-type(2) {
      top: 150px;
      right: 150px;
      background-color: #e6e7e8;
      transform-origin: -200px 300px;
      animation: rotation 15s infinite linear;
    }
    &:nth-of-type(3) {
      top: 150px;
      left: 150px;
      background-color: #e6e7e8;
      transform-origin: 200px 300px;
      animation: rotationBack 30s infinite linear;
    }
  }

  &__rocket {
    display: inline-block;
    position: relative;
    margin-top: 50px;
    z-index: 1;
  }

  &__wave {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__wave-down {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 2px;
    transform: translateY(100%);
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 30px;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $white;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
