.section {
  padding: 2rem 0;
  
  &--after-hero {
    margin-top: 52px;
  }

  @include media-breakpoint-up(md) {
    padding: 5rem 0;
  }
  
}

.section-heading {
  margin-bottom: 30px;
  position: relative;
}
