$font-family-base: "Roboto", sans-serif;
$primary: #3c3f52;
$purple: #bd93f9;
$headings-font-weight: 400;
$h2-font-size: 1.75rem;
$box-shadow-common: 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.275);
$input-border-color: $primary;
$light-gray: #f2f2f2;
$yellow: #ffff00;
$white: #fff;
$black: #000;