.work {
  $parent: &;

  &__inner {
    height: 200px;
  }

  &__image {
    box-shadow: $box-shadow-common-blured;
    width: 100%;
    height: auto;
    transform: translateY(0);
    transition: transform 0.15s ease-in;
    border-radius: $border-radius;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__description {
    font-size: 13px;
    color: $text-muted;
  }

  &__link {
    display: block;
    &:hover {
      #{$parent}__image {
        transform: translateY(-5px);
      }
    }
    &:active {
      #{$parent}__image {
        transform: none;
      }
    }
  }
}

.view-all {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.125em;
  span {
    color: $purple;
  }
}

.work-preview {
  box-shadow: $box-shadow-common-blured;
  position: relative;
  $parent: &;
  margin-bottom: 30px;

  &__tag {
    margin-bottom: 0.5rem;
  }

  &__tags {
    margin-bottom: 15px;
  }

  &:hover {
    #{$parent}__overlay {
      visibility: visible;
      opacity: 0.9;
    }
  }

  &__img,
  &__link {
    border-radius: $border-radius;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    background-color: $purple;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__zoom {
    fill: $white;
  }
}

.preview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
